* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card-views img {
    width: 100px;
    height: 220px;
}

.ais-Hits-item {
    width: calc(50% - 1rem);
}

.text-brand .text-bran-sub-type{
    font-size: 15px;
}
