* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card-views img {
    width: 100%;
    height: 100%;
}

.ais-Hits-item {
    width: calc(50% - 1rem);
}

.text-brand .text-bran-sub-type{
    font-size: 15px;
}

.container-card-views .content-subtype p{
      font-size: 12px;
      font-weight: bold;
      color: #000000;
}

.container-card-views .content-subtype .text-brand {
     margin-bottom: 5px;
}
.container-card-views .content-subtype h6 {
    font-size: 18px;
}

.container-card-views .content-details-d-p p{
    text-align: justify;
    font-size: 15px;
}

.container-card-views .content-details-d-p span{
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

 .container-card-views .container-button-learn-more a {

     margin-bottom: 5px;
     text-decoration: none;
 }
.container-card-views .container-button-learn-more {
    padding-top: 5px;
}
