* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-card-general {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.tarjetas {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 6px;
}

.imagen-section {
    height: 225px;
    background-color: white;
}

.tarjetas .img-one {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    padding: 20px 10px;

}

.content .string-name-product {
    text-align: center;
    font-size: 25px;
}

.content .string-brand-product {
    font-size: 18px;
}
.content .string-brand-sub-type-product {
    font-size: 18px;
}
