* {
    box-sizing: border-box;
}

.container-card-views {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card-views {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #FFFFFF;
    cursor: default;
    transition: all 400ms ease;
}

.card-views:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card-views img {
    width: 100%;
    height: 210px;
}
